* {
	-webkit-box-sizing: border-box; */
	box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	font-weight: 100;
}
a:link {
	color: inherit;
	text-decoration: inherit;
}
a:visited {
	color: inherit;
}
h1 {
	display: block;
	margin: 50px 0;
	font-weight: 300;
	font-size: 35px;
	-webkit-font-smoothing: antialiased;
}
header {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: table;
	background-image: url('images/fussen_germany_trip.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -240px;
}
	#topText {
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		color: white;
		position: relative;
		top: -2em;
	}
		#name {
			font-size: 50px; /* MEDIA QUERIES */
			line-height: 50px;
		}
		#slogan {
			font-size: 30px; /* MEDIA QUERIES */
		}
		#socialHeader {
			padding: 0 10px;
			margin: 1em 0 0 0;
		}
			#socialHeader li {
				height: 3.35em;
				width: 4.85em;
				display: inline-block;
				margin-bottom: 10px;
			}
				#socialHeader li a {
					display: inline-block;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-webkit-user-drag: none;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				}
				#socialHeader li a:hover:before, #socialHeader li a:active:before {
					background-color: rgba(255, 255, 255, 0.2);
				}
				#socialHeader li a:before {
					height: 2.1em;
					width: 2.1em;
					display: block;
					line-height: 2.1em;
					border: solid 1px white;
					border-radius: 100%;
					font-size: 1.5em;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
				}

.mainColor {
	color: #b72200;
}
.bold {
	font-weight: 300;
}
#gradientTop {
	height: 1000px;
	position: absolute;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.22) 73%, rgba(0,0,0,0.45) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.1)), color-stop(73%,rgba(0,0,0,0.22)), color-stop(100%,rgba(0,0,0,0.45))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.22) 73%,rgba(0,0,0,0.45) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.22) 73%,rgba(0,0,0,0.45) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.22) 73%,rgba(0,0,0,0.45) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.22) 73%,rgba(0,0,0,0.45) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#73000000',GradientType=0 ); /* IE6-9 */

	top: 0;
	pointer-events: none;
}
main {
	position: relative;
	margin-top: 1000px;
	padding: 0;
	font-size: 30px;
	color: #222;
	background: #fff;
	text-align: center;
	-webkit-box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
	-moz-box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
	box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
}
	main section {
		padding: 0 30px;
	}
	#intro, #current {
		background: #eee;
		padding: 50px 30px;
	}
	#skills, #current, #interests {
		font-size: 25px;
	}
		#skills .skillInner {
			display: inline-block;
			margin-bottom: 50px;
		}
		#interests .interestInner {
			display: inline-block;
			width: 300px;
			vertical-align: top;
			margin: 0 5px 50px;
		}
			#interests .iconContainer {
				width: 80px;
				height: 80px;
				border: 1px solid #eee;
				border-radius: 100%;
				margin: 0px auto;
			}
			#interests i {
				position: relative;
				top: 14px;
			}
			.interestDescription {
				font-size: 18px;
				line-height: 20px;
				margin-top: 7px;
			}
#resume {
	height: 469px;
	background-image: url('images/workstation_blur.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
	#resumeContent {
		height: 100%;
		background-color: rgba(0,0,0,0.4);
		padding-top: 50px;
		color: white;
		position: relative;
	}
		#resumeContent h1 {
			margin: 0;
		}
		#resumeLinkContainer {
			height: 200px;
			width: 200px;
			line-height: 200px;
			margin: auto;
			border-radius: 100%;
			border: 1px solid white;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			font-size: 100px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-webkit-user-drag: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		#resumeLinkContainer:hover,  #resumeLinkContainer:active {
			background-color: rgba(255, 255, 255, 0.2);
		}
		#resumeDownload {
			height: 38px;
			width: 157px;
			position: absolute;
			bottom: 13px;
			right: 15px;
			margin: auto;
			font-size: 20px;
			padding: 5px;
			border: 1px solid white;
			border-radius: 38px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-webkit-user-drag: none;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}
		#resumeDownload:hover, #resumeDownload:active {
			background-color: rgba(255, 255, 255, 0.2);
		}



/* MOBILE */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1024px) {
	#skills, #current, #interests {
		font-size: 35px;
	}
	.interestDescription {
		font-size: 27px;
		line-height: 31px;
	}
	#interests i {
		font-size: 1.5em;
	}
}