body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}
header {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: table;
	background-image: url('fussen_germany_trip.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -240px;
}
main {
	position: relative;
	margin-top: 1000px;
	background: #eee;
	-webkit-box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
	-moz-box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
	box-shadow: rgba(35,35,50,0.8) 0px 0px 11px -2px;
}
#topText {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: white;
	position: relative;
	top: -40px;
}
#name {
	font-size: 60px; /* MEDIA QUERIES */
}
#slogan {
	font-size: 30px; /* MEDIA QUERIES */
}
#intro {
	height: 300px;
}
